{% extends "base/base.html" %}

{% block styles %}
  {{ super() }}
  <style>
    #slides-container {
        width: 100%;
        height: 100%;
    }
  </style>
{% endblock styles %}

{% block page_scripts %}
  <script type="text/javascript" src="{{ url_for_versioned('static', filename='js/slides_deckgl.js') }}"></script>
  <script type="text/javascript">
      slides_deckgl_render_to_dom(document.getElementById("slides-container"));
  </script>
{% endblock page_scripts %}

{% block content %}
  <div id="slides-container" class="container">
  </div>
{% endblock content %}
