{% extends "layout.html" %}

{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='metadata.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<div class="lineup_container" >
  <div id="lineup"></div>
</div>
{% endblock content %}

{% block page_scripts %}
  <script src="{{ url_for('static', filename='metadata.js') }}"></script>
  <script type="text/javascript">
    /*
    Load data using Jinja magic
    */
    const metadata = {{ metadata | safe }};
    pavo.metadata.setupLineUp({
      id: "lineup",
      metadata: metadata
    });
  </script>
{% endblock page_scripts %}
