// TODO - this is not working? Is it a problem with Parcel? I moved these classes into base.scss for now...

.lineup_container {
    height: 100vh;
    header {
        padding: 0em;
    }
}

.action_container {
    text-align: center;
    background-color: blue;
}