@import "colors";


.lineup_container {
    height: 100vh;
    padding: 2rem;

    header {
        padding: 0em;
    }
}

.action_container {
    text-align: center;
    background-color: blue;
}

.thumbnail {
    position: relative;
    width: 100%;
    height: 100%;

    background: #f3f4f5;  /* fixme: make dynamic */

    pointer-events: none;

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.icon-container {
    span {
        color: grey;
        cursor: pointer;
        margin-left: 50%;
    }
    span:hover {
        color: $color-primary-light;
    }
}
