@import "colors";


.container.slide-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a > .card.slide-card {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 2px;
    border-radius: 5px;
    color: $color-white;
    background: $color-primary-dark ;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;

    .title {
      position: absolute;
      width: 100%;
      background: rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 5px 5px 0 0;
      box-sizing: border-box;
      padding: 2px;
      pointer-events: none;
    }
  }

  a > .card.slide-card:hover {
    border-color: $color-primary-dark;
    .title {
      background: $color-primary-light;
    }
  }

}

.thumbnail {
  position: relative;
  width: 100%;
  height: 100%;

  background: #f3f4f5;  /* fixme: make dynamic */

  pointer-events: none;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

/*
a:hover > .container.slide-container {
  border-color: $color-primary-dark;
  .title {
    background: $color-primary-light;
  }
}
*/



/*

.thumbnail-container {
}

.slide-container > a {
  width: 100%;
  height: 100%;
}

.slide-container .thumbnail-card {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.slide-container .thumbnail-card .thumbnail {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
}

.slide-container .thumbnail-card .grid-overlay {
  display: none;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

.slide-container .annotation-indicator {
  position: absolute;
  margin: 3px;
  padding: 2px 7px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: #333333;
  color: #f3f4f5;
}

.slide-container .prediction-indicator {
  position: absolute;
  margin: 3px;
  padding: 2px 8px;
  top: 0;
  right: 0;
  font-weight: 600;
  border-radius: 15px;
  background: rgb(123, 121, 113);
  color: #ffffff;
}

.slide-container .prediction-value-indicator {
  position: absolute;
  margin: 3px;
  padding: 2px 7px;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background: dodgerblue;
  color: #f3f4f5;
}

.slide-container .prediction-value-indicator > span {
  display: block;
  font-size: smaller;
  white-space: nowrap;
}

.thumbnail-card:hover .thumbnail {
    display: none;
}

.thumbnail-card:hover .grid-overlay {
    display: block;
}
*/

.thumbnail-card > img {
  image-rendering: optimizeSpeed;
}

span.filter-label {
  display: inline-block;
  min-width: 10em;
  padding: 0.5em;
}

li.filter-form-list {
  list-style-type: none;
}

.filter-widget-container {
  display: inline-block;
  width: 20em;

  select {
    width: 49%;
    margin: 0px;
  }

  input {
    width: 100%;
    padding: 0px;
  }
}


.filter-bar {
  border-radius: 5px;
  width: 100%;
}

.filter-bar legend {
  background-color: white;
  padding: 8px;
  border: thin solid grey;
  // border-width: thin;
  border-radius: 5px;
}

.filter-bar legend h2 {
  margin: 0px ;
}

.container.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 2em;
}

.filter-button {
  background-color: $color-primary-light;
  padding: 8px;
  min-width: 10em;
  border: thin solid white;
  border-radius: 5px;
}
.filter-button:hover {
  background-color: $color-primary-light;
  border-color: $color-primary-dark;
}

