
.a9s-annotationlayer [data-id^=anno-] path.a9s-inner {
    stroke-width: 2px;
}

.a9s-annotationlayer [data-id^=pred-] path.a9s-inner {
    stroke-dasharray: 10;
    stroke-width: 2px;
}

/* spyxel ...
  ('coloid_alteration',): (128, 128, 128),
  ('hematopoiesis',): (0, 128, 128),
  ('hypertrophy',): (128, 128, 0),
  ('mitosis',): (255, 0, 0),
  ('necrosis',): (0, 0, 255),
  ('normal',): (0, 255, 0),
  ('vacuolation',): (255, 255, 0),
*/

.a9s-annotationlayer [data-id*=colloid] path.a9s-inner {
    stroke: #888;
}

.a9s-annotationlayer [data-id*=hematopoiesis] path.a9s-inner {
    stroke: #088;
}

.a9s-annotationlayer [data-id*=hypertrophy] path.a9s-inner {
    stroke: #880;
}

.a9s-annotationlayer [data-id*=mitosis] path.a9s-inner {
    stroke: #f00;
}

.a9s-annotationlayer [data-id*=necrosis] path.a9s-inner {
    stroke: #00f;
}

.a9s-annotationlayer [data-id*=normal] path.a9s-inner {
    stroke: #0f0;
}

.a9s-annotationlayer [data-id*=vacuoloation] path.a9s-inner {
    stroke: #ff0;
}
