
.pado-logo {
    position: relative;
    margin-top: 20px;
    height: 40px;
    margin-bottom: 20px;
    overflow: hidden;
}

.pado-logo .logo-image-container {
    width: 36px;
    height: 36px;
    border: black 1px solid;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.pado-logo .logo-image-container > img {
    width: 100%;
    height: 100%;
}

.pado-logo .logo-text {
    color: #ee99d4;
    font-size: 36px;
    font-family: monospace;
    alignment-baseline: top;
    margin-left: 5px;
    position: absolute;
    top: -11px;
    left: 36px;
}

.pado-sidebar h5 {
    font-family: monospace;
    font-size: 18px;
    margin-top: 10px;
    color: #ee99d4;
}

.pado-sidebar label {
    width: 100%;
    color: lightgray;
    font-family: monospace;
    font-size: 13px;
}

.pado-logo .logo-subtext {
    position: absolute;
    top: 28px;
    left: 36px;
    font-size: 12px;
    font-family: monospace;
    font-weight: 100;
    color: lightgray;
    padding: 0;
    margin-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pado-sidebar {
    padding: 0;
    background: #333333;
}

.pado-sidebar p {
    text-align: justify;
    font-size: 12px;
    color: lightgray;
}

.pado-nav-buttons {
    display: flex;
}

.pado-nav-buttons .btn {
    flex: 1;
}

.pado-sidebar .btn-secondary:not(:disabled):not(.disabled):active,
.pado-sidebar .btn-secondary:not(:disabled):not(.disabled).active
{
    background: #DF59A8;
}

.pado-body {
    min-height: 100vh;
}

#page-content {
    padding-top: 10px;
}

.card.info-card {
    margin-bottom: 20px;
    overflow: hidden;
}
.card.info-card .card-body {
    background: #333333;
}
.card.info-card .card-title {
    color: #ee99d4;
    font-family: monospace;
    font-size: 20px;
    margin-bottom: 5px;
}
.card.info-card .card-text {
    color: lightgray;
    font-size: 12px;
}

.card.plot-card {
    margin-bottom: 20px;
}

.card.plot-card .card-title {
    font-family: monospace;
    color: #ee99d4;
    margin: 0;
}

.card.plot-card .card-header {
    background: #333333;
    padding: 0.5em 1.25em;
}

.card.plot-card .card-body {
    padding: 0.5em;
    height: 220px;
}
.card.plot-card.summary {
    height: 400px;
}

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slide-container {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 2px;
}

.slide-container .thumbnail-card {
    display: flex;
    width: 100%;
    height: 100%;
    background: #f3f4f5;  /* fixme: this should be provided dynamically */
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.slide-container .thumbnail-card .thumbnail {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

.slide-container .thumbnail-card .grid-overlay {
    display: none;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

.slide-container .annotation-indicator {
    position: absolute;
    margin: 3px;
    padding: 2px 7px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: #333333;
    color: #f3f4f5;
}

.slide-container .prediction-indicator {
    position: absolute;
    margin: 3px;
    padding: 2px 8px;
    top: 0;
    right: 0;
    font-weight: 600;
    border-radius: 15px;
    background: rgb(123, 121, 113);
    color: #ffffff;
}



/*
.thumbnail-card:hover .thumbnail {
    display: none;
}

.thumbnail-card:hover .grid-overlay {
    display: block;
}
*/

.thumbnail-card > img {
    image-rendering: optimizeSpeed;             /*                     */
    image-rendering: -moz-crisp-edges;          /* Firefox             */
    image-rendering: -o-crisp-edges;            /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    image-rendering: pixelated;                 /* Chrome as of 2019   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

#seadragon-container,
#seadragon-multi-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
}

.pado-background {
    background: url(img/background_landing.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.pado-jumbotron h1 {
    font-size: 48px;
    font-family: monospace;
    font-weight: 400;
    color: #333333;
}

.pado-jumbotron p {
    font-size: 14px;
    font-family: monospace;
    color: #333333;
}

.pado-card .card-header {
    background: #333333;
    color: #ee99d4;
    font-size: 18px;
    font-weight: 400;
    font-family: monospace;
}

#slide-metadata-view {
    height: 60vh;
    overflow-y: scroll;
}

#slide-metadata-view::-webkit-scrollbar { width: 2px !important }

