
.pado-logo {
    position: relative;
    margin-top: 20px;
    height: 40px;
    margin-bottom: 20px;
    overflow: hidden;
}

.pado-logo .logo-image-container {
    width: 36px;
    height: 36px;
    border: black 1px solid;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.pado-logo .logo-image-container > img {
    width: 100%;
    height: 100%;
}

.pado-logo .logo-text {
    color: #ee99d4;
    font-size: 36px;
    font-family: monospace;
    alignment-baseline: top;
    margin-left: 5px;
    position: absolute;
    top: -11px;
    left: 36px;
}

.pado-logo .logo-subtext {
    position: absolute;
    top: 28px;
    left: 36px;
    font-size: 12px;
    font-family: monospace;
    font-weight: 100;
    color: lightgray;
    padding: 0;
    margin-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pado-sidebar {
    padding: 0;
    background: #333333;
}

.pado-sidebar p {
    text-align: justify;
    font-size: 12px;
    color: lightgray;
}

.pado-nav-buttons {
    display: flex;
}

.pado-nav-buttons .btn {
    flex: 1;
}

.pado-sidebar .btn-secondary:not(:disabled):not(.disabled):active,
.pado-sidebar .btn-secondary:not(:disabled):not(.disabled).active
{
    background: #DF59A8;
}

.pado-body {
    min-height: 100vh;
}

#page-content {
    padding-top: 10px;
}

.card.plot-card {
    height: 350px;
}

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card.thumbnail-card {
    display: flex;
    width: 200px;
    height: 200px;
    margin: 2px;
    background: #f3f4f5;  /* fixme: this should be provided dynamically */
    justify-content: center;
    align-items: center;

}

.thumbnail {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

.grid-overlay {
    display: none;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

.thumbnail-card:hover > .thumbnail {
    display: none;
}

.thumbnail-card:hover > .grid-overlay {
    display: block;
}

.thumbnail-card > img {
    image-rendering: optimizeSpeed;             /*                     */
    image-rendering: -moz-crisp-edges;          /* Firefox             */
    image-rendering: -o-crisp-edges;            /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    image-rendering: pixelated;                 /* Chrome as of 2019   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

#seadragon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
}

.pado-body {
  background: url(background_small.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 0;
  /* animation: ANIMATION-background 20s linear infinite; */
}
/*
@keyframes ANIMATION-background {
    0% { background-position: 0 0; }
    50% { background-position: -200px 0; }
    100% { background-position: 0 0; }
}
*/

.pado-content {
}