
<div class="dash-bootstrap container">
  <div class="row">
    <div class="col">
      <a href="/">
        <div class="pado-logo">
          <div class="logo-image-container">
            <img alt="logo" src="{{ url_for('static', filename='img/pathological-heart.jpg') }}">
          </div>
          <span class="logo-text">Pado</span>
          <h3 class="logo-subtext">Pathological Data Obsession</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Welcome! Please select a display mode and the subset of data you want to look at.</p>
    </div>
  </div>
  <div id="sidebar-content"><h5>Display Mode</h5>
  </div>
</div>
