{% extends "layout.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for_versioned('static', filename='css/home.scss') }}">
{% endblock styles %}

{% block content %}
  <div id="landing-container" class="container">
    <div class="row">
      <div class="col">
        <div class="pado-jumbotron jumbotron">
          <p>Explore the metadata, image data, annotations and predictions stored in your PadoDataset.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>configured datasets: {{ ", ".join(info['dataset_paths']) }}</p>
        <p>Images: {{ info['images'] }}</p>
        <p>Annotations: {{ info['annotations'] }}</p>
        <p>Metadata: {{ info['metadata'] }}</p>
      </div>
    </div>
  </div>
{% endblock content %}
